@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="color:burlywood">Welcome</h1>
</div>

<div class="text-center">
    <h5>
        @Html.ActionLink("Register", "RegisterUser", "Database")
    </h5>
    
</div>